/* CSS RESET
______________________________________________________________________________________
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/* 
______________________________________________________________________________________ 
*/

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
        format("truetype");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
        format("truetype");
}

@font-face {
    font-family: Lora;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Lora;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* fonts */
    --ff-sans-serif: Inter, sans-serif;
    --ff-serif: Lora, serif;
    --ff-mono: Inconsolata, monospace;
    --fs-heading-l: 64px;
    --fs-heading-m: 24px;
    --fs-body-m: 18px;
    --fs-body-s: 14px;
    --fw-normal: normal;
    --fw-bold: 600;
    --fw-boldest: 800;
    /* colors */
    --color-primary: #2d2d2d;
    --color-primary-light: #757575;
    --color-primary-lightest: #f4f4f4;
    --color-accent: #a445ed;
    --color-error: #ff5252;
}

body {
    font-family: var(--ff-sans-serif);
    color: var(--color-primary);
    max-width: 737px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
    padding: 2rem 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.select-container {
    user-select: none;
    display: flex;
    gap: 0.5rem;
    position: relative;
}

.select-modal {
    display: hidden;
    position: absolute;
    background-color: var(--color-primary-lightest);
    border: 1px solid var(--color-accent);
    border-radius: 1rem;
    color: var(--color-primary);
    font-weight: bold;
    width: 150px;
    top: 150%;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    translate: 0 -20%;
    transition: opacity 200ms ease-in-out, translate 200ms ease-in-out;
}

.select-modal.active {
    pointer-events: all;
    display: flex;
    opacity: 1;
    translate: 0 0;
}

.select-current {
    font-weight: var(--fw-bold);
    width: 85px;
}

.select-modal-item:nth-of-type(1) {
    font-family: var(--ff-sans-serif);
}

.select-modal-item:nth-of-type(2) {
    font-family: var(--ff-serif);
}

.select-modal-item:nth-of-type(3) {
    font-family: var(--ff-mono);
}

.select-modal-item.selected {
    color: var(--color-accent);
}
